@media (max-width: 1690px) {
	/*** HOME && NEWS && ESPORT***/
	.ticket_panel .panel_div {
	    flex-direction: column;
	    margin: 0px 10px 10px 10px !important;
	}
	/******/
}
@media (min-width:1201px){
	/*** HOME ***/
	.right_part .ticket_panel .panel_div .display_row {
		display: initial;
	}
	.right_part .ticket_panel .panel_div .item1,
	.right_part .ticket_panel .panel_div .item2,
	.right_part .ticket_panel .panel_div .item3,
	.right_part .ticket_panel .panel_div .item4,
	.right_part .ticket_panel .panel_div .item5 {
		float: left;
	}
	.right_part .ticket_panel .panel_div .item1,
	.right_part .ticket_panel .panel_div .item2 {
		margin-bottom: 15px;
	}
	.right_part .ticket_panel .panel_div .item1 {
		width: 70% !important;
	} 
	.right_part .ticket_panel .panel_div .item2 {
		width: 30% !important;
		order: 1;
	}
	.right_part .ticket_panel .panel_div .item3 {
		width: 50% !important;
	}
	.right_part .ticket_panel .panel_div .item4 {
		width: 35% !important;
	}
	.right_part .ticket_panel .panel_div .item5 {
		width: 15% !important;
	}
	/******/
}
@media (max-width:1200px){
	.left_part, .right_part {
		margin-bottom: 20px 
	}
	/*** HOME ***/
	div.main_container {
	    padding-top: 110px;
	}
	.left_part {
		flex: 0 0 100%;
    	max-width: 100%;
    	padding-right: 15px;
	}
	.right_part {
		flex: 0 0 100%;
    	max-width: 100%;
	}
	.container {
	    max-width: 720px;
	}
	.right_part .ticket_panel .panel_div .item1 {
		width: 30%;
	} 
	.right_part .ticket_panel .panel_div .item3 {
		width: 35%;
	}
	.right_part .ticket_panel .panel_div .item2 {
		width: 10%;
		order: 4;
	}
	.right_part .ticket_panel .panel_div .item4 {
		width: 15%;
	}
	.right_part .ticket_panel .panel_div .item5 {
		width: 10%;
	}
	/******/

	/***** Market ******/
	.right_part .space_row {
		display: none;
	}
	/******/

	/***** Login && Register ******/
	.left_login_panel, .right_login_panel {
		padding: 0 15px !important;
	}
	.right_login_panel button {
		width: 100%;
		margin: auto;
	}
	/******/

}

@media (min-width:992px){
	/*** ESPORT ***/    
    .bet_kind_div {
       	width: 30%;
       	padding-right: 60px;
    	font-size: 14px;
    }

    .game_kind_div {
       width: 70%;
    }
    /******/
}

@media (max-width:992px){
	/*** FOOTER ***/
	.app_btn_div {
		margin-top: 20px !important;
		margin-bottom: 20px !important;
	}
	/******/
	/*** Leaderboard ***/
    header.header_wrap.fixed-submenu.nav-fixed {
	    top: 0 !important;
	}
	div.main_container.submenu_css {
	    padding-top: 240px !important;
	}
	/******/

	/***** Login && Register ******/
	.left_login_panel, .right_login_panel {
		border: none !important;
	    flex: 0 0 100%;
	    max-width: 100%;
	}
	.left_login_panel .login_input {
	    height: 46px;
	}
	.right_login_panel button {
	    padding: 8px 20px;
	}
	.right_login_panel {
		margin-top: 60px;
	}
	
	/******/
}


@media (max-width: 768px) {
	.reponsive_scroll {
	    width: 100%;
	    margin-bottom: 15px;
	    padding: 0;
	    overflow-y: hidden;
	}
	.reponsive_scroll .responsive_item {
	    white-space: nowrap;
	}

	/*******Refferal Page********/
	.refferal_btn_wrapper {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.referral_label {
    	font-size: 14px !important;
    }
    .referral_code_div, .referral_coin_div, .referral_btn_div {
    	margin-bottom: 20px;
    }
    .custom_referal_div .parallelogram_button_type3, .referral_btn_div .parallelogram_button_type3 {
    	width: 50% !important;
    	margin: auto;
    }
    .custom_referal_div {
		margin-left: 0 !important;
    	margin-right: 0 !important;
	}
	.referal_level_info {
		margin-left: 0 !important;
    	margin-right: 0 !important;
	}
	.referal_pointer, .referal_bar, .referal_info_div {
		margin-left: 20px !important;
		margin-right: 20px !important;
	}
	/**********/

	/*******Privacy Page********/
	.privacy_panel .privacy_button button {
		font-size: 12px !important;
		width: 100% !important;
	}
	/**********/

	/***** Login && Register ******/
	.left_login_panel .toggle__text {
	    font-size: 12px;
	}
	.left_login_panel .toggle__label:before, .left_login_panel .toggle__label:after {
	    width: 0.8em;
	    height: 0.8em;
	}
	/******/

	/***FOOTER***/
	.newsletter_form button {
	    top: 9px;
	}
	/************/

	/*** HOME***/
    .fun_scores .history_list_div {
    	padding: 0 10px !important;
    }
    /******/
	
	/*** ESPORT ***/
	.latest_news .game_title {
    	font-size: 18px;
    }
    .latest_news .bet_kind_div {
       width: 100%;
       padding-right: 15px;
       margin-bottom: 15px;
    }

    .latest_news .game_kind_div {
       	width: 100%;
        padding: 15px 15px 15px 0;
    }

    .latest_news .news_avatar img {
		height: unset !important;
	}

    .news_info_div.reponsive_scroll .responsive_item {
	    white-space: inherit;
	}
    .news_info_div .game_panel_label1, .news_info_div .game_panel_label2, .news_info_div .game_panel_label3, .news_info_div .game_panel_label5 {
    	font-size: 12px;
    }
    .news_info_div .responsive_item:nth-child(1) {
    	min-width: 175px !important;
    }
    .news_info_div .responsive_item:nth-child(2) {
    	min-width: 95px !important;
    }
    .news_info_div .responsive_item:nth-child(3) {
    	min-width: 50px !important;
    }
    .news_info_div .responsive_item:nth-child(4) {
    	min-width: 70px !important;
    }
    .news_info_div .responsive_item:nth-child(5) {
    	min-width: 342px !important;
    	display: none !important;
    }
    .news_info_div .responsive_item:nth-child(6) {
    	min-width: 90px !important;
    }
    .news_info_div .responsive_item:nth-child(7) {
    	min-width: 50px !important;
    }
    /******/

    /*** NEWS ***/
    .news_header {
    	padding: 20px 0px 20px 10px !important;
    }
    .news_header .newsitem {
    	margin-bottom: 10px;
    }
    /******/

    /*** Leaderboard ***/
    .winner_seperator_div, .winner_img_div {
		/*display: none;*/
		margin-left: 0;
    	margin-right: 0;
	}
    .winner_history_head .col-sm-2, .winner_history_row .col-sm-2 {
	    max-width: 16.666667%;
	}
	.winner_history_head .col-sm-6, .winner_history_row .col-sm-6 {
	    max-width: 50%;
	}
	.winner_history_head .col-sm-4, .winner_history_row .col-sm-4 {
	    max-width: 33.333333%;
	}
	/******/

	/***** Market ******/
	.market_panel .item_panel {
	    width: 48%;
    	margin: 1%;
	}
	.item_row {
	    margin-left: 10px !important;
	    margin-right: 10px !important;
	}
	.right_part .space_row {
		display: none;
	}
	/******/

}

@media (max-width: 576px) {

	/*******Refferal Page********/
	.refferal_btn {
		width: 50%;
		margin: auto;
		margin-bottom: 20px;
	}
	.refferal_btn_label {
		text-align: center;
	}
    .income_btn, .total_income_label {
    	margin-top: 20px
    }
    .income_btn, .total_income_label {
    	width: 50%;
    	margin-left: auto;
    }
    .income_div {
    	padding: 10px !important;
    }
    .referal_level_info .col-sm-7 {
		text-align: left !important;
		margin-top: 10px;
	}
	/**********/

	/*******Privacy Page********/
    .privacy_panel .privacy_img_div {
		flex: 0 0 16.666667%;
    	max-width: 16.666667%;
	}
	.privacy_panel .privacy_label {
		flex: 0 0 83.333333%;
    	max-width: 83.333333%;
    	font-size: 14px;
	}
	.privacy_panel .privacy_button {
		flex: 0 0 100%;
    	max-width: 100%;
    	margin-top: 10px;
	}
	.privacy_panel .privacy_button button {
		float: left;
	}
	.privacy_block div.row:nth-child(2),
	.privacy_block_last div.row:nth-child(2) {
    	font-size: 12px !important;
    }
    .privacy_block div.row:nth-child(1),
    .privacy_block_last div.row:nth-child(1) {
	    margin-left: 0px !important;
	    margin-right: 0px !important;
	}
	/**********/

	/***** Profile Setting ******/
	.avatar_profile {
	    padding: 0px 10px 30px 10px !important;
	}
	.avatar_profile .avatar_label {
		font-size: 14px;
	}
	.avatar_profile .avatar_description {
		font-size: 12px;
	}
	.avatar_profile .parallelogram_button_div {
	    flex: 0 0 50%;
    	max-width: 50%;
	 }
	 .avatar_profile .parallelogram_button_div>div {
	 	font-size: 14px;
	 }
	 .avatar_profile .nickname_label {
	 	flex: 0 0 25%;
    	max-width: 25%;
    	font-size: 14px;
	 }
	 .avatar_profile .nickname_input_div {
	 	flex: 0 0 75%;
    	max-width: 75%;
    	font-size: 14px;
	 }
	 .avatar_profile .nickname_btn_div {
	 	flex: 0 0 100%;
    	max-width: 100%;
    	margin-top: 10px;
    	font-size: 14px;
	 }
	 .avatar_profile .form_btn1 {
	 	font-size: 14px;
	 	width: 100% !important;
	 }
	 .avatar_profile .steam_account_img, .avatar_profile .steam_trade_img {
	 	font-size: 14px;
	 }
	 .avatar_profile .steam_account_btn button {
	 	width: 100% !important;
	 	margin-top: 30px;
	 	font-size: 14px;
	 }
	.avatar_profile .trade_url_label, .avatar_profile .trade_url_input_div,
	.avatar_profile .view_url_label, .avatar_profile .view_btn_label {
	 	flex: 100%;
    	max-width: 100%;
	}
	.avatar_profile .view_url_label {
		text-align: left !important;
		margin-bottom: 10px;
	}
	.avatar_profile .divided_bar {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	/******/

	
	/***** Register ******/
	.login_label {
	    font-size: 14px !important;
	 }
	.left_login_panel .btn_getcode, .left_login_panel .btn_signup, .left_login_panel .confirm_div {
	    margin-top: 10px;
	}
	/******/

	/***FOOTER***/
	.team_info h4 a, .footer_title {
	    font-size: 16px;
	}
	.footer_social li a, .footer_menu li a, .footer_link a, .newsletter_form p, .copyright {
	    font-size: 12px;
	}
	.footer_social li {
		float: left;
	}
	.footer_social li:nth-child(1), .footer_social li:nth-child(3), .footer_social li:nth-child(5) {
		width: 40% !important;
	}
	.footer_social li:nth-child(2n) {
	    width: 60% !important;
	    padding-left: 10px;
	}
	.top_footer ul {
		text-align: center;
	}
	/************/

	/*** HOME && NEWS && ESPORT***/
	.heading_div {
    	padding: 0 15px !important;
    }
	.history_panel {
		 max-width: 100%;
		 margin-bottom: 15px;
	}
	.history_tab {
		margin-top: 10px;
	}
	.news_panel {
		margin-left: 10px !important;
    	margin-right: 10px !important;
	}
	.ticket_panel .panel_div {
	    margin: 0px 10px 10px 10px !important;
	}

	.right_part .ticket_panel .panel_div .display_row {
		display: initial;
	}
	.right_part .ticket_panel .panel_div .item1,
	.right_part .ticket_panel .panel_div .item2,
	.right_part .ticket_panel .panel_div .item3,
	.right_part .ticket_panel .panel_div .item4,
	.right_part .ticket_panel .panel_div .item5 {
		float: left;
	}
	.right_part .ticket_panel .panel_div .item1,
	.right_part .ticket_panel .panel_div .item2 {
		margin-bottom: 15px;
	}
	.right_part .ticket_panel .panel_div .item1 {
		width: 70% !important;
	} 
	.right_part .ticket_panel .panel_div .item2 {
		width: 30% !important;
		order: 1;
	}
	.right_part .ticket_panel .panel_div .item3 {
		width: 50% !important;
	}
	.right_part .ticket_panel .panel_div .item4 {
		width: 35% !important;
	}
	.right_part .ticket_panel .panel_div .item5 {
		width: 15% !important;
	}

	.latest_news .news_avatar {
       	text-align: center;
		margin-bottom: 10px;
		height: 170px;
		overflow: hidden;
    }
	.latest_news .news_avatar img {
		width: 180px;
	}
	.font_size_18 {
    	font-size: 14px;
    }
    .summary_text {
    	padding: 0;
	  	width: 41.66666667%;
	}
	.summary_num {
	  	width: 33.33333333%;
	}
	.summary_unit {
	  	width: 25%;
	}
	.match_panel .panel_div .info_div {
		width: 50%;
		padding: 5px 10px;
	}
	.top_footer  .col-sm-6 {
	  	width: 50%;
	  	padding: 10px;
	}
	.match_panel  .col-sm-4 {
	  	width: 33.33333333%;
	}
	.match_panel  .col-sm-2 {
	  width: 16.66666667%;
	}
	.match_panel .panel_div {
    	padding: 10px 5px 10px 5px !important;
    }
    .liga_image_div {
    	display: none;
    }
    .top_footer {
    	padding: 15px;
    }
    /******/

    /*** Leaderboard ***/
    .winner_history_head {
    	display: none;
    }
    .winner_history_row .col-sm-2 {
    	text-align: center;
	    max-width: 100%;
	    margin: 5px auto;
	}
	.winner_history_head .col-sm-6, .winner_history_row .col-sm-6 {
		text-align: center;
	    max-width: 100%;
	    margin: 5px auto;
	}
	.winner_history_head .col-sm-4, .winner_history_row .col-sm-4.history_balance_div {
	    max-width: 100%;
		text-align: center;
	    display: block;
	    margin: 5px auto;
	}
	.latest_news .row, .ticket_panel .row, .match_panel .row, .trade_panel .row {
    	padding: 0px 20px 0px 20px;
    }
    /******/

    /*** User Infomation ***/
    .progress_div {
		width: 100%;
	}
    .user_info_div .balance_label_div {
		width: 100%;
		text-align: center;
		margin-bottom: 0;
	}
	.user_info_div .balance_amount_div {
		width: 100%;
		text-align: center;
		margin: 5px 0 10px;
	}
	.user_info_div .deposit_btn, .user_info_div .widthdraw_btn {
		width: 50%;
		padding-right: 15px;
	}
	.winner_history_row {
		margin: 10px !important;
	}
    .divided_separate1 {
    	margin: 0px 10px 0px 10px !important;
    }
    .user_info_div .status_div {
    	text-align: left !important;
    	flex: 0 0 33.333333%;
    	max-width: 33.333333%;
    }
    .user_info_div .name_promotion_label {
	    flex: 0 0 66.666667%;
    	max-width: 66.666667%;
	 }
	.user_informations_panel1, .user_informations_panel2 {
	    padding: 10px 30px 10px 15px !important;
	}
	 .user_info_div .user_informations_panel1 .col-sm-2, .user_info_div .user_informations_panel2 .col-sm-2 {
	 	flex: 0 0 16.666667%;
    	max-width: 16.666667%;
    	padding: 0 !important;
	 }
	 .user_info_div .user_informations_panel1 .col-sm-10, .user_info_div .user_informations_panel2 .col-sm-10 {
	 	flex: 0 0 83.333333%;
    	max-width: 83.333333%;
	 }
	/******/

	/****** Market *******/
	.parallelogram_div {
		margin-left: 15px !important;
		margin-right: 15px !important;
	}
	.parallelogram_div .margin-left-20 {
	    margin-left: 8px !important;
	    font-size: 12px;
	}
	.parallelogram_div .dota_div, .parallelogram_div .virl_div {
		width: 50%;
		margin-top: 15px;
		text-align: center;
	}
	.market_panel .natus_div {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.market_panel .natus_div .search_div, .market_panel .natus_div .button_div {
		padding: 10px !important;
	}
	.market_panel .natus_div .button_div {
		margin: 10px 5px;
		text-align: center;
	}
	.market_panel .natus_div .button_div .parallelogram_button_type3 {
		width: 50%;
	}
	.market_panel .natus_div .divided_separate1 {
    	margin: 0px 15px 0px 15px !important;
    }
	.market_panel .item_row {
		margin-top: 0 !important;
	}
	.parallelogram1_div {
		margin-left: 15px !important;
		margin-right: 0 !important;
	}
	.trade_list_div .panel_div {
	    margin: 0px 10px 10px 10px !important;
	    text-align: center;
	}
	.trade_list_div .panel_div .item_img_trade_container {
    	display: block;
    }
	/******/
    
}

@media (max-width: 508px) {
	/*** Leaderboard ***/
	.avatar_image3, .avatar_image5 {
	    height: 0.84871438rem !important
	}
	.winner_avatar2 {
	    margin-top: 2.5471875rem !important;
    	margin-left: 1.9996rem !important;
	}
	.winner_avatar3 {
	    margin-top: 3.1257083333333334rem !important;
    	margin-left: 6.58449495833333rem !important;
	}
	.winner_avatar1 {
	    margin-top: 1.6575rem !important;
    	margin-left: 4.2728333rem !important;
	}
	.avatar_image5 {
	    height: 1.23438rem !important;
	}
	.jumper_avatar2 {
	   	margin-top: 2.55671875rem !important;
    	margin-left: 1.399376rem !important;
	}
	.jumper_avatar3 {
	    margin-top: 2.735083rem !important;
    	margin-left: 6.99583333333rem !important;
	}
	.jumper_avatar1 {
	    margin-top: 1.9156575rem !important;
    	margin-left: 4.22330208333rem !important;
	}
	/******/
	
}
@media (max-width: 460px) {
	.winner_img_div {
		margin-bottom: -50px !important;
	}
	.winner_avatar3 {
	    margin-top: 3.1157083333333334rem !important;
	    margin-left: 6.53749495833333rem !important;
	}
}


@media (max-width: 430px) {
	/*** Leaderboard ***/
	.winner_avatar2 {
	    margin-top: 2.471875rem !important;
    	margin-left: 1.956rem !important;
	}
	.winner_avatar3 {
	    margin-top: 3.094257083333333334rem !important;
    	margin-left: 6.4895833333333333rem !important;
	}
	.winner_avatar1 {
	    margin-top: 1.6575rem !important;
    	margin-left: 4.20283333333333rem !important;
	}
	.avatar_image5 {
	    height: 1.23438rem !important;
	}
	.jumper_avatar2 {
	    margin-top: 2.475671875rem !important;
    	margin-left: 1.41376rem !important;
	}
	.jumper_avatar3 {
	    margin-top: 2.687083rem !important;
    	margin-left: 6.8495833333333333rem !important;
	}
	.jumper_avatar1 {
	    margin-top: 1.89456575rem !important;
    	margin-left: 4.1123302083333333333rem !important;
	}
	/******/
}

@media (max-width: 395px) {
	.winner_avatar3 {
	    margin-top: 3.074257083333333334rem !important;
    	margin-left: 6.465833333333333rem !important;
	}
}

@media (max-width: 370px) {
	.winner_avatar1 {
	    margin-top: 1.595rem !important;
	    margin-left: 4.1583333333333rem !important;
	}
	.winner_avatar3 {
	    margin-top: 3.0483333333334rem !important;
    	margin-left: 6.433333333333rem !important;
	}
}

@media (max-width: 360px) {
	.winner_avatar3 {
	    margin-top: 3.0483333333334rem !important;
    	margin-left: 6.3933333333333rem !important;
	}
}

@media (max-width: 340px) {
	.winner_avatar3 {
	    margin-top: 3.0083333333334rem !important;
    	margin-left: 6.333333333333rem !important;
	}
	.jumper_avatar1 {
	    margin-top: 1.8256575rem !important;
	    margin-left: 4.05233020833rem !important;
	}
	.jumper_avatar2 {
	   	margin-top: 2.475671875rem !important;
    	margin-left: 1.35276rem !important;
	}
	.jumper_avatar3 {
	    margin-top: 2.63083rem !important;
    	margin-left: 6.724583333rem !important;
	}
}

    