@media (max-width:1161px){
	.chat-panel-open .chat-panel {
	    transition: left 0.4s;
	    left: -270px;
	}

	.chat-panel {
	    transition: left 0.4s;
	    z-index: 9994;
	    position: fixed;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    width: 270px;
	}

    .copen {
    	display: block;
    }

    #main-container {
	    width: 100%;
	    font-size: 0.175rem;
	}
	.ladder_playlist {
   		padding: 0.6458333333333334rem 0.175rem 0.6458333333333334rem 0.1rem;
   		/*background:url(/assets/user/images/game/ladder/player_list_1.png) no-repeat center 0 !important;*/
   		background-size: 100% 100% !important;
	}
	.ladder_playlist_div {
		order: 3;
		max-width: 50%;
		flex: 50%;
	}
	.ladder_result_div {
		order: 4;
		max-width: 50%;
		flex: 50%;
	}
	.ladder_panel_div {
		order: 1;
		max-width: 100%;
		flex: 100%;
	}
	.betting_panel_wrap {
		order: 2;
		margin: 0.15625rem 0.052083333333333336rem 0.175rem;
	}
	.ladder_playlist {
		float: right;
    	height: 6rem;
    	width: 3.7rem;
    	padding: 1rem 0.2rem 0.5rem 0.4rem;
	}
	.ladder_result {
		float: left;
		height: 6rem;
    	width: 3.7rem;
    	padding: 1rem 0.4rem 0.5rem 0.4rem;
    	/*background:url(/assets/user/images/game/ladder/result_list_1.png) no-repeat center 0 !important;*/
    	background-size: 100% 100% !important;
	}
	.ladder_panel {
		margin: auto;
		height: 8rem;
    	width: 8rem;
    	padding-top: 0.35rem;
    	padding-bottom: 0.35rem;
    	/*justify-content: space-around;*/
    	justify-content: center;
	}
	.ladder_area {
		margin: 0.05rem 0;
	}

	.betting_panel {
		width: 7.2rem;
		padding: 0.25rem 0 0.15rem
	}
	.one_line_div, .buttons_div {
		max-width: 100%;
		flex: 100%;
	}
	.current_players, .recent_result {
		width: 2.9rem;
		height: 4.4rem;
	}

	.time_date {
	    padding: 0.125rem 0.9rem !important;
	    font-size: 0.15rem !important;
	}
	div.time_date span {
    	line-height: 0.25rem !important;
    }
    #server_time {
    	/* margin: 0 !important; */
    	text-align: center; 
    }
    .sound {
    	width: 0.6rem !important;
    	height: 0.6rem !important;
    	right: 1.4rem !important;
    }
    #ladderPos {
	    /*width: 3.25rem !important;
	    height: 2.75rem !important;*/
	    width: 4rem !important;
	    height: 3.5rem !important;
	    margin: 0 !important;
	}
	span.first, span.second, span.odd, span.even {
	    width: 0.6rem !important;
	    height: 0.6rem !important;
	}
	#startPos, #answer {
    	/*width: 3.6rem !important;*/
    	width: 4.3rem !important;
    }

    .ladder_area ul {
    	width: 4rem !important;
    	height: 3.5rem !important;
    }

    .ladder_area li {
        width: 0.286rem;
        height: 0.286rem;
    }

    .title_chart {
	    width: 1.3rem !important;
	    height: 0.275rem !important;
	    font-size: 0.12rem !important;
	}
	.title_chart {
    	font-size: 0.15rem !important;
    }
    .vs_area {
	    width: 2rem !important;
	    height: 0.5rem !important;
	}
    .graph_odd_area, .graph_even_area {
    	width: calc( 50% - 2.2rem) !important;
    }
    #txt_odd_per, #txt_even_per {
    	font-size: 0.2rem !important;
    }
    .tip_chart {
	    font-size: 0.15rem !important;
	    line-height: 0.2rem !important;
	}

	.ly_ladder_wait {
	    /*width: 3.2rem !important;
	    height: 1.5rem !important;
	    top: 1.25rem !important;
	    font-size: 0.15rem !important;*/
	    width: 4.5rem !important;
	    height: 2.5rem !important;
	    top: 1.05rem !important;
	    font-size: 0.3rem !important;
	}

	#remainTime {
	    /*margin-top: 0.25rem !important;*/
	    margin-top: 0.4rem !important;
	    text-align: center !important;
	    color: #AC75E2;
	}
	.golden-text {
		color: #E5BA0F;
	}
	.result_odd, .result_even {
		width: 0.5rem !important;
    	height: 0.5rem !important;
	}
	#cur_result {
		margin-left: 0.05rem !important;
	}
	#left_time {
		margin: 0 !important;
	}
	.left_time_wrap {
		/*font-size: 0.15rem !important;
    	margin-top: 0.25rem !important;*/
    	font-size: 0.35rem !important;
    	margin-top: 0.575rem !important;
    	text-align: center !important;
	}
	.before_result {
	    margin-top: 0.5rem !important;
	    font-size: 0.25rem;
	}
	.ly_ladder_result {
	    /*width: 2.75rem !important;
	    height: 1.5rem !important;
	    top: 1.25rem !important;
	    font-size: 0.15rem !important;*/
	    width: 4.3rem !important;
	    height: 2.5rem !important;
	    top: 1.5rem !important;
	    font-size: 0.175rem !important;
	}
	.ly_ladder_result img {
		width: 0.6875rem !important;
    	height: 0.6875rem !important;
	}

	.one_line_div {
		margin-bottom: 0.2rem !important;
	}
	.one_line {
		justify-content: space-around !important;
	}
	div.betting-container {
	    /* height: 0.5rem !important; */
	    width: 3.25rem !important;
	    margin: initial !important;
	}
	#bet {
		font-size: 0.25rem;
	}
	.betting-container img {
		 height: 0.25rem !important;
	}
	.blue_button, .red_button {
	    width: 0.75rem !important;
	    /*height: 0.75rem !important;*/
	}
	.bet_1K, .bet_10K, .bet_100K,.bet_half, .bet_double, .bet_max {
	    width: 1.5rem !important;
	    /*height: 0.7rem !important;*/
	}
	.bet_amount {
		font-size: 0.175rem !important;
		margin-right: 0.1rem;
		width: 0.75rem;
    	text-align: center;
    	line-height: 0.2rem !important;
	}
	.bar_odd, .bar_even {
    	height: 0.075rem;
    }
    .middle_point {
    	height: 0.08rem;
    }
    .player_log {
    	font-size: 0.175rem;
    }
    .player_avatar {
	    width: 0.5rem;
	    height: 0.5rem;
	}
    .current_players_overflow .detail-info {
    	display:flex;
    	flex-direction: column;
    	width: 1.75rem;
    	align-items: flex-start;
    	height: 0.6rem;
    	justify-content: space-around;
    }
	.player_result {
	    width: 0.4rem;
	    height: 0.4rem;
	}
	.player_coin {
	    width: 0.25rem;
	    height: 0.25rem;
	}

	.result-bar {
	    height: 0.05rem;
	}
	.result-bar .amount-bar {
	    height: 0.05rem;
	}
	.result-bar .pointer {
	    width: 0.05rem;
	    height: 0.09rem;
	}
	.result_log .align_column {
	    width: 1.25rem;
	}
	.result_log .result_mail {
	    width: 0.35rem;
	}
	.result_log img {
		width: 0.35rem;	
	}

	.user_item {
	    margin: 0.025rem 0;
	}
	.user_item .user_item_img {
	    width: 0.4rem;
	    padding: 0.03rem;
	}
	.user_item .user_item_name {
	    width: 1.2rem;
	    font-size: 0.15rem;
	    padding: 0 0.1rem;
	}
	.user_item .user_item_bet {
	    width: 1rem;
	}
	.user_item .user_item_bet img {
	    width: 0.3rem;
	    height: 0.3rem;
	}
	.user_item .user_item_bet span.yellow-color {
	    margin-left: 0.05rem;
	    font-size: 0.15rem;
	}
	.user_item .user_item_mail {
	    width: 0.4rem;
	}

	.recent_result .num{
		font-size: 0.175rem !important;
	}



}

@media only screen and (max-width: 991px) {
	.navbar-toggler {
	    padding: 0.1rem 0.25rem;
	    border-radius: 0.15rem;
	}
}

@media (max-width: 768px){
	.chat-panel-open .chat-panel {
	    left: -100%;
	}

	.chat-panel {
	    width: 100%;
	}
	.game_panel {
	    padding-right: 0;
	    padding-left: 0;
	}
	#sidebar .sidebarNav {
		display: none !important;
	}
	.one_line_div {
		max-width: 100%;
		flex: 100%;
	}
	.buttons_div {
		max-width: 100%;
		flex: 100%;
		margin: 0.052083333333333336rem auto;
	}
	
	.time_date {
		font-size: 0.25rem !important;
		padding: 0.2rem 0.3rem !important;
	}

	.sound {
		width: 0.5rem !important;
		height: 0.5rem !important;
	}

	#server_time {
		font-style: normal !important;
	}

	.buttons-4 {
		display: initial !important;
	}

	.buttons-6 {
		display: none;
	}

	.graph_odd_area , .graph_even_area {
		height: 0.2rem;
	}

	.vs_area {
		width: 2.2rem !important;
		height: 0.6rem !important;
	}

	.txt_per {
		font-size: 0.25rem !important;
	}

	.bet_amount {
		font-size: 0.25rem !important;
	}

	.betting-container {
		/*padding: 10px 40px 10px 0px !important;*/
		height: auto !important;
	}

	#server_time {
		margin-left: 0.13rem;
	}
}

@media only screen and (max-width: 767px){
	.res_sm_mb_30 {
	    margin-bottom: 0.15625rem;
	}
}
