.navbar-nav .dropdown-menu {
    min-width: 1.3rem;
}
#main-container {
    font-size: 0.08333333333333333rem;
    line-height: 0.15625rem;
}
.ladder_panel {
    height: 3.3333333333333335rem;
    width: 3.5416666666666665rem;    
    position: relative;
    padding-top: 0.19791666666666666rem;
    padding-bottom: 0.19791666666666666rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
}

.ladder_result {
    height: 3.3333333333333335rem;
    width: 1.7708333333333333rem;
    padding: 0.6458333333333334rem 0.235rem 0.6458333333333334rem 0.235rem;
    margin: auto;
}

.ladder_playlist {
    height: 3.3333333333333335rem;
    width: 1.7708333333333333rem;
    padding: 0.6458333333333334rem 0.235rem 0.6458333333333334rem 0.235rem;
    margin: auto;
}
.ladder_playlist_div {
    padding-right: 0;
    padding-left: 8px;
}
.ladder_panel_div {
    padding: 0;
}
.ladder_result_div {
    padding-left: 0; 
}

#main-content {
    padding-top: 0.078125em;
    padding-bottom: 0.078125em;    
    width: 78%;
    display: inline-block;
    transition: margin-left .4s , width .4s;
    margin-left: 0;
    z-index: 101;
    background: linear-gradient(180deg, rgba(39,20,66,1) 6%, rgba(39,20,66,1) 50%, rgba(43,24,70,1) 95%);
}

.betting_panel {
    width: 6.25rem;
    /*height: 0.6614583333333334rem;*/
}

div.betting-container {
    border-radius: 0.046875rem !important;
    background-color: #24153a;
    height: auto;
    padding: 5px 0px;
    border: 0.005208333333333333rem solid rgba(253, 252, 253, 0.31);
    margin: auto;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    position: relative;
    box-shadow: 0 0.005208333333333333rem 0 hsla(0,0%,100%,.02), inset 0 0.005208333333333333rem 0.015625rem rgba(0,0,0,.1);
    overflow: hidden;
}

div.betting-container:after, div.betting-container:before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1.375rem;
    opacity: .4;
}

div.betting-container:before {
    background: linear-gradient(90deg,#000,transparent);
}

div.betting-container:after {
    right: -0.026041666666666668rem;
    background: linear-gradient(270deg,#000,transparent);
}

.betting-container{
    width: 1.5rem;
}
/*
#bet {
    height: 0.25rem;
    padding: 0.026041666666666668rem 0.10416666666666667rem;
    font-size: 0.15rem;
    margin-left: -0.16666666666666666rem;
    padding-left: 0.203125rem;
    color: #fff;
    border-color: #303030;
    background: #24153a;
    display: block;
    line-height: 1.42857143;
    border: 0.005208333333333333rem solid transparent;
    border-radius: 0.015625rem;
    box-shadow: none;
    margin-bottom: 0;
}
*/
#bet {
    z-index: 2;
    height: 0.25rem;
    padding: 0.026041666666666668rem 0.10416666666666667rem;
    font-size: 15px;
    margin-left: -0.16666666666666666rem;
    padding-left: 0.203125rem;
    color: #fff;
    border-color: #303030;
    background: #160d24;
    display: block;
    line-height: 1.42857143;
    border: 0.005208333333333333rem solid transparent;
    border-radius: 0.015625rem;
    box-shadow: none;
    margin-bottom: 0px;
}

.clear_bet:hover {
    opacity: .8;
}

.ladder_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.chart_wrap {
    position: relative;
    margin-left: 0.15625rem;
    margin-right: 0.15625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.this_times_chart {
    display: flex;
    padding-left: 0.10416666666666667rem;
    padding-right: 0.10416666666666667rem;   
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tip_chart {
    color: #fff;
    font-size: 0.06770833333333333rem;
    line-height: 0.09375rem;
    font-weight: 200;
    text-align: center;
    margin-top: 0.052083333333333336rem;
}

.graph_odd_area , .graph_even_area {
    position: relative;
    padding: 0.010416666666666666rem 0.015625rem 0.010416666666666666rem 0.015625rem;
    display: flex;
    width: calc( 50% - 0.8rem);
    height: 0.125rem;
    background: #400753;
    border-radius: 0.03125rem;
    border: 0.010416666666666666rem solid #994494;    
}

.graph_odd_area {
    justify-content: flex-end;    
}

#graph_odd {
    width: 100%;
    display: block;
    background: #36d4ef;
    border-radius: 0.026041666666666668rem;
}

#graph_even {
    width: 100%;
    display: block;
    background: #ff6570;
    border-radius: 0.026041666666666668rem;
}

#startPos {
    display: flex;
    width: 1.5rem;
    justify-content: space-between;
    margin-bottom: 0.026041666666666668rem;
}

#answer {
    display: flex;
    width: 1.5rem;
    justify-content: space-between;
    margin-top: 0.026041666666666668rem;
}

.space {
    width: 0.2604166666666667rem;    
}

#txt_odd_per {
    width: calc( 50% - 0.13020833333333334rem );
    text-align: center;
    color: #36d4ef;
    font-weight: 800;
    font-size: 0.08333333333333333rem;
}

#txt_even_per {
    width: calc( 50% - 0.13020833333333334rem );
    text-align: center;
    color: #ff6570;
    font-weight: 800;
    font-size: 0.08333333333333333rem;   
}

.vs_area {
    display:flex; 
    align-items: center;
}

#remainTime {
    margin-top: 0.125rem;
    text-align: center;
}


.before_result {
    margin-top: 0.13020833333333334rem;    
    display: flex;
    align-items: center;
    justify-content: center;
}

.current_players_overflow {
    display: flex;
    flex-direction: column;
}
.current_players_overflow .detail-info {
    align-items: flex-start;
    width: 0.75rem;
    justify-content: space-around;
}
.player_log {
    display: flex;
    font-size: 0.0625rem;
    align-items: center;
    justify-content: space-between;
    color: #fbd3fe;
    background: #5a327e;
    padding: 0.020833333333333332rem 0.020833333333333332rem 0.020833333333333332rem 0.020833333333333332rem;   
    border-radius: 0.03125rem;
    margin-bottom: 0.041666666666666664rem;
    cursor: pointer;
}
.player_log span {
    line-height: 15px;
}
.player_log div span {
    line-height: 15px;
}
.player_avatar {
    width: 0.20833333333333334rem;
    height: 0.20833333333333334rem;
    border-radius: 0.03125rem;   
}

div.player_log div {
    display: flex;
    align-items: center;
}

.player_coin {
    width: 0.10416666666666667rem;
    height: 0.10416666666666667rem;   
}

.player_result {
    width: 0.11979166666666667rem;
    height: 0.11458333333333333rem;   
}

.result_log {
    display: flex;
    align-items: center;
    background: #5a327e;
    padding: 0.020833333333333332rem 0.041666666666666664rem 0.020833333333333332rem 0.041666666666666664rem;
    border-radius: 0.03125rem;
    justify-content: space-between;    
    margin-bottom: 0.041666666666666664rem;
    min-height: 0.25rem;
}

.align_column {
    display: flex;
    flex-direction: column;    
}

.align_row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar_odd {
    height: 0.03125rem;
    width: 0%;
    background: #36d4ef;
    border-top-left-radius: 0.020833333333333332rem;
    border-bottom-left-radius: 0.020833333333333332rem;    
}

.bar_even {
    height: 0.03125rem;
    width: 0%;
    background: #ff6570;
    border-top-right-radius: 0.020833333333333332rem;
    border-bottom-right-radius: 0.020833333333333332rem;   
}

.game_result {
    width: 0.203125rem;
    height: 0.171875rem;
}

.current_players {
    position: relative; 
    height: 2.3333333333333335rem;
    overflow-y: scroll;
    /*padding: 0.036458333333333336rem*/
    padding-left: 0.02rem;
    padding-right: 0.02rem;
}

.recent_result {
    position: relative;
    height: 2.3333333333333335rem;
    overflow-y: scroll;
    padding-left: 0.02rem;
    padding-right: 0.02rem;
}

.ladder_area ul {
	position: relative;
    width: 1.3333333333333333rem;
    height: 1.1510416666666667rem;
}

.ladder_area li {
	display: none;
	position: absolute;
	width: 0.08333333333333333rem;
	height: 0.08333333333333333rem;
    list-style: none;
}

.ladder_area .type1 li {
    background: #36d4ef;
}

.ladder_area .type2 li {
    background: #ff6570;
}

/*
4 ladder - right
*/
.ladder_area .second.type2 .pos1 {
	top: 0.015625rem;
	right: 0;
}

.ladder_area .second.type2 .pos2 {
	top: 0.19270833333333334rem;
	right: 0
}

.ladder_area .second.type2 .pos3 {
	top: 0.19270833333333334rem;
	left: 0px;
}

.ladder_area .second.type2 .pos4 {
	top: 0.4114583333333333rem;
	left: 0px;
}

.ladder_area .second.type2 .pos5 {
	top: 0.4114583333333333rem;
	right: 0;
}

.ladder_area .second.type2 .pos6 {
	top: 0.6354166666666666rem;
	right: 0;
}

.ladder_area .second.type2 .pos7 {
	top: 0.6354166666666666rem;
	left: 0px;
}

.ladder_area .second.type2 .pos8 {
	top: 0.8645833333333334rem;
	left: 0px;
}

.ladder_area .second.type2 .pos9 {
	top: 0.8645833333333334rem;
	right: 0;
}

/*
3 ladder right
*/
.ladder_area .second.type1 .pos1 {
	top: 0.015625rem;
	right: 0;
}

.ladder_area .second.type1 .pos2 {
	top: 0.3072916666666667rem;
	right: 0
}

.ladder_area .second.type1 .pos3 {
	top: 0.3072916666666667rem;
	left: 0px;
}

.ladder_area .second.type1 .pos4 {
	top: 0.53125rem;
	left: 0px;
}

.ladder_area .second.type1 .pos5 {
	top: 0.53125rem;
	right: 0;
}

.ladder_area .second.type1 .pos6 {
	top: 0.7552083333333334rem;
	right: 0;
}

.ladder_area .second.type1 .pos7 {
	top: 0.7552083333333334rem;
	left: 0px;
}

/*
left 3 ladder
*/
.ladder_area .first.type1 .pos1 {
	top: 0.015625rem;
	left: 0px;
}

.ladder_area .first.type1 .pos2 {
	top: 0.3072916666666667rem;
	left: 0px;
}

.ladder_area .first.type1 .pos3 {
	top: 0.3072916666666667rem;
	right: 0;
}

.ladder_area .first.type1 .pos4 {
	top: 0.53125rem;
	right: 0;
}

.ladder_area .first.type1 .pos5 {
	top: 0.53125rem;
	left: 0px;
}

.ladder_area .first.type1 .pos6 {
	top: 0.7552083333333334rem;
	left: 0px;
}

.ladder_area .first.type1 .pos7 {
	top: 0.7552083333333334rem;
	right: 0;
}

/*
left 4 ladder
*/

.ladder_area .first.type2 .pos1 {
	top: 0.015625rem;
	left: 0px;
}

.ladder_area .first.type2 .pos2 {
	top: 0.19270833333333334rem;
	left: 0px;
}

.ladder_area .first.type2 .pos3 {
	top: 0.19270833333333334rem;
	right: 0;
}

.ladder_area .first.type2 .pos4 {
	top: 0.4114583333333333rem;
	right: 0;
}

.ladder_area .first.type2 .pos5 {
	top: 0.4114583333333333rem;
	left: 0px;
}

.ladder_area .first.type2 .pos6 {
	top: 0.6354166666666666rem;
	left: 0px;
}

.ladder_area .first.type2 .pos7 {
	top: 0.6354166666666666rem;
	right: 0;
}

.ladder_area .first.type2 .pos8 {
	top: 0.8645833333333334rem;
	right: 0;
}

.ladder_area .first.type2 .pos9 {
	top: 0.8645833333333334rem;
	left: 0px;
}

.disable_button {
    opacity: .75;
    cursor: default !important;
}

.margin-left-align {
    margin-left: 0.10416666666666667rem !important;
    display: flex;
    align-items: center;
}

.margin-left-align span {
    margin-left: 0.026041666666666668rem;
    color: #fff;
}

.player_log.my_bet.EVEN {
    border: 0.005208333333333333rem solid #ff657078;    
}

.player_log.my_bet.ODD {
    border: 0.005208333333333333rem solid #36d4ef54;
}

.user_item {
    display: flex;
    background: #5a327e;
    margin: 0.025rem 0;
}
.user_item .user_item_img {
    
    width: 0.4rem;
    padding: 0.03rem;
}
.user_item .user_item_name {
    width: 0.9rem;
    font-size: 0.08rem;
    padding: 0 0.01rem;
    display: flex;
    align-items: center;
    color: #f2cbf7;
}
.user_item .user_item_bet {
    width: 1rem;
    display: flex;
    align-items: center;
}
.user_item .user_item_bet img {
    width: 0.15rem;
    height: 0.15rem;
}
.user_item .user_item_bet span.yellow-color {
    margin-left: 0.05rem;
    font-size: 0.08rem;
}
.user_item .user_item_mail {
    width: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result_log .align_column {
    width: 0.6rem;
}
.result-bar {
    background-color: #ff6570;
    height: 0.025rem;
    justify-content: flex-start;
}
.result-bar .amount-bar {
    background-color: #36d4ef;
    width: 45%;
    height: 0.025rem;
}
.result-bar .pointer {
    background-color: #dfeb58;
    width: 0.05rem;
    height: 0.05rem;
}
.result_log .result_mail {
    width: 0.15rem;
}

.recent_result .num{
    font-size: 0.07rem;
    color: #f2cbf7;
}

#server_time {
    font-style: italic;
}

.column-center {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.one_line {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons-4 {
    display: none;
}

.ladder_area ul:nth-child(even) {
    display: none;
}