.roulette_header {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 38px;
    background: #462f69;
    padding: 15px 0px 10px 0px;
}

.roulette_jackpot {
    /*position: absolute;*/
    margin-top: -50px;
    height: 110px;
}

.sound_roulette {
    height: 37px;
    cursor: pointer;
}

.sound_roulette:hover {
    opacity: .8;
}

.betting_label {
    color: #fff; 
    line-height: 16px; 
    margin-bottom: 8px;    
}

.progress-container {
    border-radius: 20px;
    background-color: #462f69;
    border: 2px solid #ff9d02;
    margin: auto;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    position: relative;
    box-shadow: 0 1px 0 hsla(0,0%,100%,.02), inset 0 1px 3px rgba(0,0,0,.1);
    overflow: hidden;
    width: 100%;
    /*min-width: 300px;*/
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px; 
    padding-right: 2px; 
    justify-content: center;
}

.progress-container::after, .progress-container::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1.375rem;
    opacity: .4;    
}

.progress-container::before {
    left: -5px;
    background: linear-gradient(90deg,#000,transparent);   
}

.progress-container::after {
    right: -5px;
    background: linear-gradient(270deg,#000,transparent);
}

.progress_bar {
    width: 100%;
    height: 28px;
    background-repeat: repeat-x;
    border-radius: 14px;
    margin: 0 auto;
    height: 28px;
    position: absolute;
    left: 0;
}

.roll0 , 
.roll1 ,
.roll2 ,
.roll3 ,
.roll4 ,
.roll5 ,
.roll6 ,
.roll7 ,
.roll8 ,
.roll9 ,
.roll10 ,
.roll11 ,
.roll12 ,
.roll13 ,
.roll14 {
    height: 36px;
    width: 37px;
    background-size: 100% 100%;
    cursor: pointer;
}

.roll0:hover , 
.roll1:hover ,
.roll2:hover ,
.roll3:hover ,
.roll4:hover ,
.roll5:hover ,
.roll6:hover ,
.roll7:hover ,
.roll8:hover ,
.roll9:hover ,
.roll10:hover ,
.roll11:hover ,
.roll12:hover ,
.roll13:hover ,
.roll14:hover {
    opacity: .8;
}

.previous_games_list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.history_refresh {
    height: 36px;
    width: 37px;
    background-size: 100% 100%;
    cursor: pointer;
}

.history_refresh:hover{
    opacity: .8;
}

.color_rolls {
    height: 37px;
}

.green_results , .blue_results , .pink_results {
    position: absolute;
    top: 11px;
    color: #fff;
    line-height: 16px;
    left: 43px;    
}

.wheel-container {
    height: 84px;
    background: #462f69;
    border-radius: 12px;
    border: 0.13em solid #ffa303;
    overflow: hidden;
    box-shadow: 0 1px 0 hsla(0,0%,100%,.02), inset 0 1px 3px rgba(0,0,0,.1);
    box-sizing: border-box;
    display: flex;
    /* position: relative; */
    align-items: center;
    flex-direction: row;
}

#pointer {
    position: relative;
    z-index: 10001 !important;
    height: 106px;
    left: -50%;
}

#pointer_div {
    position: absolute;
    left: 50%;
}


.case {
    z-index: 1;
    position: relative;
    width: 2100px;
}


div.wheel-container:after {
    background: linear-gradient(270deg,#000,transparent);
}

div.wheel-container:after {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1.375rem;
    opacity: .4;
    right: 2px;
    border-radius: 12px;
}

div.wheel-container:before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1.375rem;
    opacity: .4;
    left: 2px;
    border-radius: 12px;
}

div.wheel-container:before {
    background: linear-gradient(90deg,#000,transparent);
}

.betting_panel {
    margin-left: 30px; 
    margin-right: 30px; 
    margin-top: 20px;    
    background: #462f69;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.betting_user_panel {
    margin-left: 30px; 
    margin-right: 30px; 
    margin-top: 15px;    
}

.chip_button {
    height: 60px;
    cursor: pointer;
}

.chip_button:hover {
    opacity: .8;
}

.green_set_button {
    background-image: linear-gradient(to bottom, #393c45 0%,#212430 99%);
    border-radius: 12px;
    border: 0.12em solid #35ac1e;
    color: #77ff09;
    font-weight: 600;
    padding: 0px 20px;
}

.auto_set_button {
    background-image: linear-gradient(to bottom, #393c45 0%,#212430 99%);
    border-radius: 12px;
    border: 0.12em solid #bc60ea;
    color: #fff;
    font-weight: 600;
    padding: 0px 20px;
}

div.betting-container {
    border-radius: 9px !important;
    background-color: #24153a;
    height: 50px;
    border: 1px solid rgba(253, 252, 253, 0.31);
    margin: auto;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    position: relative;
    box-shadow: 0 1px 0 hsla(0,0%,100%,.02), inset 0 1px 3px rgba(0,0,0,.1);
    overflow: hidden;
    width: 80%;
}

div.betting-container:after, div.betting-container:before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1.375rem;
    opacity: .4;
}

div.betting-container:before {
    background: linear-gradient(90deg,#000,transparent);
}

div.betting-container:after {
    right: -5px;
    background: linear-gradient(270deg,#000,transparent);
}

#bet {
    height: 48px;
    padding: 5px 20px;
    font-size: 15px;
    margin-left: -32px;
    padding-left: 39px;
    color: #fff;
    border-color: #303030;
    background: #24153a;
    display: block;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: none;
    margin-bottom: 0px;
}

.clear_bet {
    cursor: pointer;
}

.clear_bet:hover {
    opacity: .8;
}

.bet_user_list {
    background: #462f69;
    min-height: 300px;
    border-radius: 6px;
    width: 100%;
    display: flex; 
    flex-direction: column;
}

.potential_profit {
    display: flex; align-items: center; justify-content: center; padding: 15px 15px 0px 15px;   
}

.common_label {
    font-size: 16px; color: #cbb4ff;   
}

.common_label1 {
    font-size: 13px; color: #cbb4ff;   
}

.potential_profit_bottom {
    display: flex; align-items: center; justify-content: space-between; padding: 0px 25px 0px 15px;   
}

.bet_container {
    justify-content: center; display: flex; padding: 15px;   
}

.bet_button {
    height: 53px;
    cursor: pointer;
}

.bet_log_list {
    display: flex; flex-direction: column; padding: 15px 0px 15px 0px; border-top: 0.11em solid #c287ff; margin-left: 15px; margin-right: 15px;    
}

.top-label {
    display: flex; align-items: center; justify-content: space-between; padding-right: 10px;  margin-bottom: 6px;
    border-radius: 6px;
}

.even_log_detail {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    margin-top: 4px; 
    background: #392656; 
    padding: 1px 10px 1px 5px; 
    border-radius: 6px;    
}

.even_log_detail:nth-child(odd) {
    background: #51377a; 
}

/*
.odd_log_detail {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    margin-top: 4px; 
    background: #51377a; 
    padding: 1px 10px 1px 5px; 
    border-radius: 6px;
}*/

.detail_property {
    width: 24px;
    height: 24px;
    background: #933d8c;
    border-radius: 6px;
    margin-right: 8px;
}



.bet_button.active_button:hover{
    opacity: .8;
}

#main-container {
    padding-bottom: 30px;    
}

.avatar-top-profile {
    z-index: 1;
    height: 48px;
    border-radius: 6px;
}

.avatar-log-profile {
    z-index: 1;
    height: 26px;
    border-radius: 6px;
    margin-right: 8px;
}

.bet_log_list {
    position: relative;
    overflow: hidden;
}

.bet_log_list_scroll {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

.bet_log_list_scroll::-webkit-scrollbar { 
    display: none; 
} 

.bet_log_list_scroll { 
    -ms-overflow-style: none; 
}


@-moz-document url-prefix() {
    .bet_log_list_scroll {
        padding-right: 17px;
        box-sizing: content-box;
        padding-left: 9px;
    }
}

.rolling_label {
    display: flex;
    align-items: center;
    justify-content: center;
}

#rolling {
    color: #fff;
    font-weight: 600;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.disable_button {
    opacity: .75;
    cursor: default !important;
}

.spin_timer {
    width: 42px !important;
    text-align: left;
    margin-left: 4px;
    letter-spacing: 0.12em;
    line-height: 1;
    box-sizing: border-box;
    text-transform: uppercase;
}

.spin_timer1 {
    width: 48px !important;
    text-align: left;
    margin-left: 4px;
    letter-spacing: 0.12em;
    line-height: 1;
    box-sizing: border-box;
    text-transform: uppercase;
}

.fadeInBets-enter {
    -webkit-opacity: .01;
    -moz-opacity: .01;
    opacity: .01
}
.fadeInBets-enter.fadeInBets-enter-active {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    -ms-transition: opacity 500ms ease-in;
    -o-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in
}
.fadeInBets-exit {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1
}
.fadeInBets-exit.fadeInBets-exit-active {
    -webkit-opacity: .01;
    -moz-opacity: .01;
    opacity: .01;
    -webkit-transition: opacity 300ms ease-in;
    -moz-transition: opacity 300ms ease-in;
    -ms-transition: opacity 300ms ease-in;
    -o-transition: opacity 300ms ease-in;
    transition: opacity 300ms ease-in
}

#tbody_blue.won div#max_bbetting div div span.top_username {
    /*color: rgba(7,171,84,.85) !important;   */
    color: #ffff33 !important;   
}

#tbody_blue.won div#max_bbetting div span {
    /*color: rgba(7,171,84,.85) !important;   */
    color: #ffff33 !important;   
}

#tbody_blue.won div.even_log_detail div span.common_label1 {
    /*color: rgba(7,171,84,.85) !important;   */
    color: #ffff33 !important;    
}

#tbody_pink.won div#max_pbetting div div span.top_username {
    /*color: rgba(7,171,84,.85) !important;   */
    color: #ffff33 !important;   
}

#tbody_pink.won div#max_pbetting div span {
    /*color: rgba(7,171,84,.85) !important;   */
    color: #ffff33 !important;   
}

#tbody_pink.won div.even_log_detail div span.common_label1 {
    /*color: rgba(7,171,84,.85) !important;   */
    color: #ffff33 !important;    
}

#tbody_green.won div#max_gbetting div div span.top_username {
    /*color: rgba(7,171,84,.85) !important;   */
    color: #ffff33 !important;   
}

#tbody_green.won div#max_gbetting div span {
    /*color: rgba(7,171,84,.85) !important; */
    color: #ffff33 !important;   
}

#tbody_green.won div.even_log_detail div span.common_label1 {
    /*color: rgba(7,171,84,.85) !important;*/
    color: #ffff33 !important;    
}

#tbody_blue.faded {
    opacity: .4;
}

#tbody_green.faded {
    opacity: .4;
}

#tbody_pink.faded {
    opacity: .4;
}

#max_pbetting.user_active {
    background: #eb43bf4d;    
}

#max_gbetting.user_active {
    background: #1caa0557;
}

#max_bbetting.user_active {
    background: #2b99ff52;
}

div#tbody_blue div.even_log_detail.user_active {
    background: #2b99ff52;
}

div#tbody_green div.even_log_detail.user_active {
    background: #1caa0557;
}

div#tbody_pink div.even_log_detail.user_active {
    background: #eb43bf4d;    
}


.margin-left-align {
    margin-left: 20px !important;
    display: flex;
    align-items: center;
}

.margin-left-align span {
    margin-left: 5px;
}

#roll-container {
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
}

