
@media (max-width:1668px){
	body {
		font-size: 14px
	}
	.color_rolls {
	    height: 25px !important;
	}
	.green_results, .blue_results, .pink_results {
	    top: 8px !important;
	    left: 30px !important;
	}
	.rolls_label_div {
		font-size: 14px !important;
	}
	/*.wheel-container {
    	height: 65px !important;
    }*/
	/*.case .new {
	    height: 50px !important;
	    background-size: auto 100% !important;
	}*/
	/*#pointer {
	    height: 85px !important;
	}*/
	.green_set_button {
	    padding: 0px 10px !important;
	}


}

@media (max-width:1370px){
	.my_bets_div, .rolls_div {
		flex: 100%;
    	max-width: 100%;
	}
	.rolls_div {
		padding-left: 30px;
	}
	#roll-container, .betting_panel, .betting_user_panel {
		margin-left: 15px;
		margin-right: 15px;
	}
}

@media (max-width:1311px){
	.chat-panel-open .chat-panel {
	    transition: left 0.4s;
	    left: -270px;
	}

	.chat-panel {
	    transition: left 0.4s;
	    z-index: 9994;
	    position: fixed;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    width: 270px;
	}

    .copen {
    	display: block;
    }

    #main-container {
	    width: 100%;
	}
	.your_bet_div {
		flex: 100%;
    	max-width: 100%;
	}
	.chip_button_div {
		flex: 60%;
    	max-width: 60%;
	}
	.set_button_div {
		flex: 40%;
    	max-width: 40%;
	}
	div.betting-container {
		height: 40px;
		width: 60%;
		margin-bottom: 10px;
	}
	div.betting-container #bet {
		height: 38px;
	}
	.bet_button {
    	height: 45px;
    }
}

@media (max-width:1130px){
	.jackpot_img_div{
		max-width: 100%;
		flex: 100%;
	}
	.bet_closein_div {
		max-width: 85%;
		flex: 85%;
		padding: 0;
    	margin-right: 0;
	}
	.bet_closein_progress_div {
		width: 90% !important;
	}
	.previous_refresh_div {
		margin: 0 !important;
	}
	.previous_img_div {
		display: none !important;
	}
	.previous_div {
		max-width: 37px;
		flex: 37px;
		padding: 0;
		order: 3;
		margin: 25px auto;
	}
	.bet_closein_div {
		order: 2;
		margin: 25px auto;
	}
	.jackpot_img_div {
		order: 1;
	}
}

@media (max-width:768px) {
	.chat-panel-open .chat-panel {
	    left: -100%;
	}

	.chat-panel {
	    width: 100%;
	}
}
@media (max-width:760px){
	#last_100_rolls {
		margin-left: 0;
		margin-right: 0;
	}
	.rolls_div {
		padding: 0 15px !important;
	}
	.chip_button_div {
		flex: 100%;
    	max-width: 100%;
    	margin: 10px auto;
	}
	.set_button_div {
		flex: 100%;
    	max-width: 100%;
    	margin: 15px auto;
	}
	div.betting-container {
		height: 40px;
		width: 100%;
		margin-bottom: 10px;
	}
	.betting_user_panel .col-md-4 {
		padding-left: 0 !important;
		padding-right: 0 !important;
    	margin-bottom: 10px;
	}
}


@media (max-width:531px){
	.bet_button {
	    height: 40px;
	}
	/*.wheel-container {
    	height: 50px !important;
    }*/
	/*.case .new {
	    height: 40px !important;
	    background-size: auto 100% !important;
	}*/
	/*#pointer {
	    height: 65px !important;
	}*/
	.chip_button {
	    height: 50px;
	}
}

@media (max-width:510px){
	.game_panel {
	    padding: 0;
	}
	#sidebar .sidebarNav {
		display: none !important;
	}
}

@media (max-width:471px){
	.chip_button {
	    height: 42px;
	}
}

@media (max-width:430px){
	.chip_button {
	    height: 42px;
	}
	/*.bet_closein_div, .previous_div {
		max-width: 100%;
		flex: 100%;
		justify-content: center;		
		margin: 15px auto;
	}
	.previous_div {
		margin: 10px auto 15px;
	}*/
	.bet_closein_progress_div {
		width: 80% !important;
	}

}