.left_part .bet_panel {
    background: rgba(55 , 42 , 75 , 0.5);
    min-height: 285px;
    width: 100%;
    padding: 0px 0px 0px 0px;
}

.latest_news .row {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

@media (min-width: 576px) {
    .main_panel {
        max-width: 560px;
    }
}

@media (min-width: 768px) {
    .main_panel {
        max-width: 740px;
    }
}

@media (min-width: 992px) {
    .main_panel {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .main_panel {
        max-width: 1140px;
    }
}

@media (min-width: 1680px) {
    .main_panel {
        max-width: 1560px;
    }
}

.display_row_align {
    display: flex;
    flex-direction: row;    
    align-items: center;
}

.space_between {
    justify-content: space-between;    
}

.font-style1 {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(255,255,255,.7);
    font-weight: 500;
    cursor: pointer;
}

.font-style1-red {
    color: #da2320;
    text-shadow: 1px 1px 2px rgba(218,35,32,.7);
    font-weight: 500;    
    cursor: pointer;
}

.active_tab {
    border-bottom: 1px solid #6efff2;
    /* text-decoration: underline; */
    line-height: 30px;
}

.item_type_img {
    height: 18px;
}

.item_type_span {
    font-size: 14px;
    margin-left: 4px;    
}

.game_img_icon {
    height: 50px;
}

.game_title  {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;   
}

.game_img_detail_icon {
    height: 17px;   
}

.game_panel_label1 {
    font-size: 14px;
    margin-left: 10px;
    color: #7c718c;
    font-weight: 500;   
    height: 9px;
}

.game_panel_label2 {
    font-size: 16px;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgba(255,255,255,.7);
}

.game_panel_label3 {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
}

.divided_separate1 {
    border-bottom: 1px solid #a384d0;
    width: 100%;
}

.divided_separate2 {
    border-bottom: 1px solid #736588;
    opacity: .8;
    width: 100%;
}

.game_panel_label4 {
    margin-left: 0px;
    font-size: 14px;
    color: #6efff2;
    font-weight: 500;
    line-height: 17px;
}

.game_panel_label5 {
    margin-left: 0px;
    font-weight: 600;   
}

.show_more_btn {
    border-radius: 0px;
    background: #271442;
    border: 1px solid #483563;
    font-weight: 500;
    color: #b6a4cc;
    padding: 15px 15px 15px 15px;    
}

.live_div {
    position: absolute;
    margin-top: 59px;
    border: 3px solid #0fdda3;
    padding: 5px 10px 5px 10px;
    font-size: 14px;
    font-weight: 800;
    color: #0fdda3;    
}