.navbar-nav .dropdown-menu {
    min-width: 1.3rem;
}
.navbar-toggler {
    padding: 0.2rem .3rem !important;
}
#main-container {
    font-size: 0.08333333333333333rem;
    line-height: 0.15625rem;
}
.winner_history_head {
    margin: 15px 30px 15px 30px;
    font-size: 14px;
    font-weight: 200;
}

.winner_history_row {
    margin: 0px 25px 10px 25px;
    padding: 5px 10px 5px 10px;
    background: #4c3d64;
    align-items: center;
    border-radius: 6px;
    font-size: 14px;    
    font-weight: 200;
}

.winner_img {
    height: 35px;
    border-radius: 35px;    
}

.winner_balance {
    height: 19px;
}

.history_balance_div {
    display: flex;
    align-items: center;
}

.avatar_image5 {
    height: 50px;
    border-radius: 50px;
}

.winner_avatar2 {
    position: absolute; 
    margin-top: 129px; 
    margin-left: 102px;
}

.winner_avatar3 {
    position: absolute;
    margin-top: 157px;
    margin-left: 334px;
}

.winner_avatar1 {
    position: absolute;
    margin-top: 84px;
    margin-left: 217px;
}

.jumper_avatar1 {
    position: absolute;
    margin-top: 104px;
    margin-left: 221px;
}

.jumper_avatar2 {
    position: absolute;
    margin-top: 138px;
    margin-left: 79px;    
}

.jumper_avatar3 {
    position: absolute;
    margin-top: 147px;
    margin-left: 362px;
}