.news_header {
    display: flex;
    flex-direction: row;
    /*width: 100%;*/
    /*background: #4c3d64;*/
    background: rgba(76 , 61 , 100 , 0.5);
    /*margin-bottom: 30px !important;       */
    /*padding: 20px 20px 20px 20px !important;*/
    justify-content: space-between;
}

.news_header {
    line-height: 15px;
}

/***************/
.news_header {
    margin-bottom: 30px;
    padding: 20px 10px 30px 20px;
}
.news_header .newsitem {
    background: #413258;
    border-radius: 6px;
    padding-left: 0px;
    padding-right: 0px;
    color: #fff;
    font-size: 13px;
}
div.news_header div.col-md-3  {
    padding-left: 0;
    padding-right: 10px;
}
/*********/

/*div.news_header div.col-md-3 {
    background: #413258;
    border-radius: 6px;
    padding-left: 0px;
    padding-right: 0px;
    color: #fff;
    font-size: 13px;   
    max-width: 24.5%;
}*/

div.news_header div.col-md-3 div.display_row {
    padding: 0px 15px 10px 15px;
    justify-content: space-between;
}


.news_header_title {
    background: #52387a;
    padding: 15px 15px 15px 15px !important;
    font-size: 14px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;    
}

.news_header_img {
    height: 20px;
}

div.display_row.news_header_title{
    justify-content: unset !important;
}

div.display_row.news_header_title span {
    margin-left: 14px;
    line-height: 18px;
    font-size: 16px;
}
